* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

/*--------------------*/

.header-upper {
   font-size: 16px;
   height: 40px;
   background-color: #091B3B;
   color: #fff;
}

.header-upper__container {
   max-width: 1560px;
   margin: 0 auto;
   height: 100%;
}

.header-upper__row {
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   padding-left: calc(30px + 55 * (100vw - 1200px) / 720);
   padding-right: calc(30px + 35 * (100vw - 1200px) / 720);
}

.header-upper__title {
   color: #FF5000;
   text-transform: uppercase;
}

.header-rate {
   -webkit-box-flex: 1;
   -ms-flex: 1 0 56.0897435897%;
   flex: 1 0 56.0897435897%;
   padding-right: calc(65px + 20 * (100vw - 1200px) / 720);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.header-rate__item_main {
   color: #FF5000;
}

.header-time {
   -webkit-box-flex: 1;
   -ms-flex: 1 0 auto;
   flex: 1 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.header-main {
   height: calc(70px + 50 * (100vw - 1200px) / 720);
}

.header-main__row {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   height: 100%;
}

.header-main__logo {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 280px;
   flex: 0 0 280px;
}

.header-main__logo img {
   width: 100%;
   height: 100%;
   -o-object-fit: cover;
   object-fit: cover;
}

.header-main__list {
   padding-left: calc(20px + 20 * (100vw - 1200px) / 720);
   -webkit-box-flex: 1;
   -ms-flex: 1 0 auto;
   flex: 1 0 auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
   margin-right: calc(80px + 50 * (100vw - 1200px) / 720);
}

.header-main__link {
   color: #fff;
   font-size: calc(12px + 6 * (100vw - 1200px) / 720);
   text-transform: uppercase;
   -webkit-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
}

.header-main__link:hover {
   color: #FD5001;
}

.header-main__icons {
   -webkit-box-flex: 0;
   -ms-flex: 0 0 auto;
   flex: 0 0 auto;
}

.header-icons__phone svg {
   width: calc(18px + 7 * (100vw - 1200px) / 720);
   height: calc(18px + 7 * (100vw - 1200px) / 720);
}

.header-icons__profile {
   display: none;
}

.header-icons__burger {
   display: none;
}

body.lock {
   overflow: hidden;
}

.wrapper {
   font-family: "Inter", sans-serif;
   background-color: #091B3B;
}

.container {
   max-width: 1590px;
   padding: 0 15px;
   margin: 0 auto;
   height: 100%;
}

@media (min-width: 1200px) {
   .header-icons {
      padding-right: 20px;
   }
}

@media (max-width: 1200px) {
   .header-upper {
      font-size: 12px;
   }

   .header-upper__container {
      max-width: none;
   }

   .header-rate {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 39.1666666667%;
      flex: 1 0 39.1666666667%;
      padding-right: calc(55px + 10 * (100vw - 770px) / 430);
   }

   .header-rate__title {
      display: none;
   }

   .header-main {
      height: calc(60px + 10 * (100vw - 770px) / 430);
   }

   .header-main__logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
      flex: 0 0 180px;
   }

   .header-main__link {
      font-size: 12px;
   }

   .header-main__list {
      padding-left: 20px;
      margin-right: calc(30px + 50 * (100vw - 968px) / 232);
   }

   .container {
      max-width: 970px;
   }
}

@media (max-width: 992px) {
   .container {
      max-width: 840px;
   }
}

@media (max-width: 968px) {
   .header-main__logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(170px + 10 * (100vw - 770px) / 198);
      flex: 0 0 calc(170px + 10 * (100vw - 770px) / 198);
   }

   .header-main__list {
      padding-left: calc(5px + 10 * (100vw - 770px) / 198);
      margin-right: calc(10px + 5 * (100vw - 770px) / 198);
   }

   .header-main__link {
      font-size: calc(10px + 2 * (100vw - 770px) / 198);
   }
}

@media (max-width: 770px) {
   .header-upper {
      font-size: 10px;
   }

   .header-upper__row {
      padding: 0 10px;
   }

   .header-rate {
      padding-right: calc(10px + 25 * (100vw - 500px) / 268);
   }

   .header-main {
      background-color: #091B3B;
      height: 60px;
   }

   .header-main__row {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
   }

   .header-main__list {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 100px;
      left: 100%;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: unset;
      -ms-flex-pack: unset;
      justify-content: unset;
      padding-left: 10px;
      padding-top: 15px;
      border-top: 2px solid #FF5000;
   }

   .header-main__list.active {
      left: 0;
      background-color: #091B3B;
   }

   .header-main__list li+li {
      margin-top: 10px;
   }

   .header-main__link {
      font-size: 12px;
   }

   .header-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

   .header-icons__profile {
      display: block;
      margin-left: 10px;
      margin-right: 10px;
      -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
      transform: translateY(2px);
   }

   .header-icons__profile svg {
      width: 33px;
      height: 33px;
   }

   .header-icons__phone {
      -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
      transform: translateY(2px);
   }

   .header-icons__phone svg {
      width: 33px;
      height: 33px;
   }

   .header-icons__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
   }

   .header-icons__burger::before,
   .header-icons__burger::after {
      content: "";
      display: block;
      width: 30px;
      height: 5px;
      background-color: #FF5000;
      position: absolute;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
   }

   .header-icons__burger::before {
      top: 0;
      left: 0;
   }

   .header-icons__burger span {
      position: absolute;
      display: block;
      width: 30px;
      height: 5px;
      background-color: #FF5000;
      top: 13px;
      left: 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
   }

   .header-icons__burger::after {
      top: 25px;
      left: 0;
   }

   .header-icons__burger.active {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px);
   }

   .header-icons__burger.active span {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
   }

   .header-icons__burger.active::before {
      -webkit-transform: rotate(45deg) translateY(17px);
      -ms-transform: rotate(45deg) translateY(17px);
      transform: rotate(45deg) translateY(17px);
   }

   .header-icons__burger.active::after {
      -webkit-transform: rotate(-45deg) translateY(-17px);
      -ms-transform: rotate(-45deg) translateY(-17px);
      transform: rotate(-45deg) translateY(-17px);
   }
}

@media (max-width: 770px) and (max-width: 640px) {
   .header-main__list {
      top: 60px;
   }
}

@media (max-width: 767px) {
   .container {
      max-width: none;
   }
}

@media (max-width: 640px) {
   .header-upper {
      display: none;
   }
}

@media (max-width: 370px) {
   .header-main__logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
      flex: 0 0 140px;
   }
}